{{- if .Subject }}<span style="color:{{ FormatColor .Subject }}">{{ .Subject }}</span> {{end}}
{{- if .Operation }}{{ .Operation | FormatOperation }} {{end -}}
<span style="color:{{ FormatColor .Value }}">{{- .Value }}</span>
