<div>
    <h4 class="text-sm font-medium text-gray-500 mb-1">
        Voor de verkiezingen van <strong>{{ input['$ELECTION_DATE']|format_date }}</strong> heeft u
    </h4>
    <div class="flex items-baseline space-x-2">
        {% if result.has_voting_rights %}
            <p class="text-4xl font-bold text-pink-600 mt-2">STEMRECHT</p>
        {% else %}
            <p class="text-4xl font-bold text-pink-600 mt-2">GEEN stemrecht</p>
        {% endif %}
        <button hx-get="/laws/application-panel?service={{ service }}&law={{ law|urlencode }}&bsn={{ bsn }}&default_tab=explanation"
                hx-target="#shared-application-panel"
                hx-swap="innerHTML"
                class="ml-4 text-sm text-gray-400 hover:text-gray-900 border-b border-dotted border-gray-300 hover:border-gray-600">
            waarom?
        </button>
    </div>
</div>
