Resultaten van de regeling {{ service_name }}:

{{ service_context }}

{% include 'includes/summary_instructions.j2' %}
Als dit een gechainede regeling is, leg dan uit waarom deze regeling relevant was na de vorige.

{% include 'includes/belangrijk.j2' %}
{% include 'includes/explanation_instructions.j2' %}
