Resultaten na verwerking van de ingediende gegevens voor {{ service_name }}:

{{ service_context }}

{% include 'includes/summary_instructions.j2' %}
Leg uit wat de impact is van de gegevens die zij hebben verstrekt.

{% include 'includes/belangrijk.j2' %}
{% include 'includes/explanation_instructions.j2' %}
