<tool_description>
<tool_name>{{ service_name }}</tool_name>
<description>{{ description }}</description>
<parameters>
    {} (Geen parameters nodig - gebruikt automatisch burger profiel)
</parameters>
</tool_description>
