NUMMER FORMAAT INSTRUCTIES:
- OPSLAG: Alle geldbedragen worden intern opgeslagen in eurocenten (€1,00 = 100 eurocenten)
- INVOER: Bij het ontvangen van bedragen van burgers:
  - Accepteer verschillende formaten (35000, 35.000, 35000 euro, €35.000)
  - Converteer altijd naar eurocenten voor verwerking (€350,00 wordt 35000 eurocenten)
- WEERGAVE: Bij het tonen van bedragen aan burgers:
  - Gebruik altijd het formaat €X.XXX,XX (euroteken, duizendtalscheiding met punt, decimale komma)
  - Voorbeeld: €1.234,56
  - BELANGRIJK: Let op dat een bedrag van 1834 eurocenten wordt weergegeven als €18,34, niet als €18.34
