name: Run Behaviour Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install uv
      run: |
        curl -LsSf https://astral.sh/uv/install.sh | sh
        echo "$HOME/.uv/bin" >> $GITHUB_PATH

    - name: Install dependencies
      run: |
        uv sync

    - name: Run tests
      run: ./script/test-behaviour

  go-test-features:
    name: Run Go Tests
    runs-on: ubuntu-latest
    # Add this permissions block
    permissions:
      # Set only what you need
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24' # Replace with your desired Go version

      - name: Run tests
        working-directory: ./features
        run: go test -v .

  go-test-machinev2:
    name: Run Go Tests
    runs-on: ubuntu-latest
    # Add this permissions block
    permissions:
      # Set only what you need
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24' # Replace with your desired Go version

      - name: Run tests
        working-directory: ./machinev2
        run: go test ./...
