{% extends "partials/tiles/base_tile.html" %}

{% block tile_content %}
<div>
    <h4 class="text-sm font-medium text-gray-500 mb-1">
        Voor de verkiezingen van <strong>{{input['$ELECTION_DATE']|format_date }}</strong> heeft u
    </h4>
    <div class="flex items-baseline space-x-2">
        {% if result.has_voting_rights %}
        <p class="text-4xl font-bold text-pink-600 mt-2">
            STEMRECHT
        </p>
        {% else %}
        <p class="text-4xl font-bold text-pink-600 mt-2">
            GEEN stemrecht
        </p>
        {% endif %}
        <button
                @click="showExplanation = true"
                class="ml-4 text-sm text-gray-400 hover:text-gray-900 border-b border-dotted border-gray-300 hover:border-gray-600"
                hx-get="/laws/explain-path?service={{ service }}&law={{ law|urlencode }}&bsn={{ bsn }}"
                hx-target="#explanation-panel-{{ law|replace('/', '-') }}"
                hx-swap="innerHTML">
            waarom?
        </button>
    </div>
</div>
{% endblock %}

{% block actions %}
<p class="text-sm text-gray-600 text-center">
    <a href="https://www.kiesraad.nl/actueel/verkiezingen">Meer informatie over de verkiezingen</a>
</p>
{% endblock %}
